<!-- templates/houses/delete_house.html -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>숙소 삭제</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>숙소 삭제</h1>
    <p>정말로 이 숙소를 삭제하시겠습니까?</p>
    <button id="confirmDelete" data-house-id="{{ house_id }}">삭제</button>
    <button onclick="window.history.back()">취소</button>

    <script src="{{ url_for('static', filename='js/houses.js') }}"></script>
  </body>
</html>
