<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>내 숙소 목록</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/host_houses.css') }}"
    />
    <script
      defer
      src="{{ url_for('static', filename='js/houses.js') }}"
    ></script>
  </head>
  <body>
    <h1>
      내 숙소 목록
      <button id="registerButton" style="margin-left: 20px">등록하기</button>
    </h1>

    <!-- 마이리뷰 버튼 추가 -->
    <div class="my-reviews-button">
      <button onclick="window.location.href='/houses'">홈으로 가기</button>
      <button onclick="window.location.href='/reservation/host'">
        숙소 예약관리
      </button>
    </div>

    <table>
      <thead>
        <tr>
          <th>숙소 이름</th>
          <th>주소</th>
          <th>수정하기</th>
          <th>삭제하기</th>
        </tr>
      </thead>
      <tbody id="table-body"></tbody>
    </table>

    <!-- 숙소 삭제 확인 모달 -->
    <div id="deleteModal" style="display: none">
      <p>정말로 이 숙소를 삭제하시겠습니까?</p>
      <button id="confirmDelete">삭제</button>
      <button onclick="closeDeleteModal()">취소</button>
    </div>
  </body>
</html>
