<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>독채 예약 시스템 : RETREATLY</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/user_style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>RETREATLY</h1>
      </header>

      <nav>
        <ul>
          <li><a href="/signupForm">회원가입</a></li>
          <li><a href="/loginForm">로그인</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
